header {
  padding: 20px;
  color: white;
  text-align: center;
}
header div.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
  text-decoration: none;
}
li > a {
  text-decoration: none;
}
li > a:hover {
  text-decoration: underline;
}